.page-content {
    /* Ajuste para o menu recolhido */
    margin-left: 60px; 
    padding: 20px;
}
#btnMenu {
    width: 3vh;
    height: auto;

    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}